<div class="modal-header">
  <button aria-hidden="true" class="close" data-dismiss="modal" type="button">x</button>
  <h3 id="cardLabel"><%= @card.name %></h3>
</div>
<div class="modal-body">
  <%= image_tag( "cards/en/#{@card.file_name}.png" ) %>
  <div id="card_info">

  </div>
</div>