// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-multiselect";

html body {
  background: url('background.jpg') no-repeat fixed center;
  background-size: 100%;
}

label {
  color: black;
  white-space:nowrap;
}

.wrappable {
  white-space:normal;
}

.card_popover {
  max-width: 100%;
  height: 510px;
}

.item {
  float: left;
  margin: 0 1.5%;
  width: 22%;
}

.item img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.infinite-table{
  margin: auto;
}

.item div {
  height: 40px;
  font-family: Verdana;
  font-size: 90%;
  color: black;
  font-weight: bold;
  text-align: center;
}

.well {
  width: 70%;
  margin: 10px auto;
  background-color: royalblue;
}

#search_form {

}

.form-group > * {
  margin: 5px 5px 5px 0;
}

.multiselect-container {
  width: 100% !important;
}